body {
  background-image: url("Bar.jpeg");
  position: absolute;
  background-size: cover;
  margin: 0px;
  background-repeat: no-repeat;
  background-color: rgba(19, 1, 1, 0.817);
}

.drink_image {
  text-align: center;
  display: block;
  border: rgba(135, 15, 15, 0.892) solid;
  border-width: 5px;
  margin-left: 140px;
  margin-top: 60px;
  padding: 20px;
  background-color: #c46767cd;
}

h1 {
  color: rgb(227, 217, 217);
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 30px;
}

.instruction {
  background-color: #c46767cd;
  padding: 10px;
  text-align: center;
  border: rgba(135, 15, 15, 0.892) solid;
  display: flex;
  margin-top: 20px;
  align-self: center;
  font-size: 15px;
  color: rgb(227, 217, 217);
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.drink_image, #cocktailIng, #cocktailIng2 { 
  display: inline-block;
}

#cocktailIng {
    color: rgb(227, 217, 217);
    position: absolute;
    width: 150px;
    height: 380px;
    background-color: #c46767cd;
    padding: 10px;
    border: rgba(135, 15, 15, 0.892) solid;
    border-width: 5px;
    top: 60px;
    margin-left: 55px;
    text-align: center;
}

#cocktailIng2 {
  color: rgb(227, 217, 217);
  position: absolute;
  width: 150px;
  height: 380px;
  background-color: #c46767cd;
  padding: 10px;
  border: rgba(135, 15, 15, 0.892) solid;
  border-width: 5px;
  top: 60px;
  margin-left: 55px;
  text-align: center;
  margin-left: 300px;
}

.Ingredient-Row, .Ingredient-Row2 {
  display: block;
  text-align: left;
  font-size: 20px;
  margin-bottom: 7px;
}


button {
  background-color: #c46767cd;
  margin-top: 10px;
  width: 200px;
  height: 40px;
  font-size: 14px;
  border: rgba(135, 15, 15, 0.892) solid;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(227, 217, 217);
  margin-left: 50%;
}