body {
  background-image: url("Bar.jpeg");
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(19, 1, 1, 0.817);
  width: 100%;
}

.section {
  display: flex;
}

.drink_image, #cocktailIng, #cocktailIng2 {
  justify-content: space-around;
  margin: 0 auto;
}

.drink_image {
  text-align: center;
  display: block;
  border: rgba(135, 15, 15, 0.892) solid;
  border-width: 5px;
  padding: 0px 10px 10px 10px;
  background-color: #c46767cd;
}

#cocktailIng {
    color: rgb(227, 217, 217);
    width: 350px;
    height: 400px;
    background-color: #c46767cd;
    padding: 15px;
    border: rgba(135, 15, 15, 0.892) solid;
    border-width: 5px;
    font-size: 19px;
}

#cocktailIng2 {
  color: rgb(227, 217, 217);
  width: 350px;
  height: 400px;
  background-color: #c46767cd;
  border: rgba(135, 15, 15, 0.892) solid;
  border-width: 5px;
  padding: 15px;
}

h1 {
  color: rgb(227, 217, 217);
  font-size: 30px;
}



.Ingredient-Row, .Ingredient-Row2 {
  display: block;
  text-align: left;
  font-size: 20px;
  margin-bottom: 10px;
}

.section2 {
  display: flex;
  justify-content: center;
}

.drink_instruction {
  background-color: #c46767cd;
  border: rgba(135, 15, 15, 0.892) solid;
  border-width: 5px;
  color: rgb(227, 217, 217);
  text-align: center;
  font-size: 19px;
  margin-top: 10px;
}

.instructor {
  font-size: 25px;
}

.div {
  display: flex;
  justify-content: center;
}

 button {
  background-color: #c46767cd;
  margin-top: 10px;
  width: 200px;
  height: 40px;
  font-size: 14px;
  border: rgba(135, 15, 15, 0.892) solid;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(227, 217, 217);
} 