body {
  background-image: url("Bar.jpeg");
  position: absolute;
  background-size: cover;
  margin: 0px;
  background-repeat: no-repeat;
}

img {
  display: block;
  border: rgba(135, 15, 15, 0.892) solid;
  border-width: 5px;
  margin-left: 180px;
  margin-top: 180px;
  padding: 20px;
  background-color: #c46767cd;
}

.name {
  color: white;
  width: 350px;
  height: 350px;
  background-color: #c46767cd;
  vertical-align: super;
}


div {
  display: inline-block;
}

 /* .drink_ingredient, .drink_image {
  color: white;
  background-color: #c46767cd;
  display: inline-block;
} */


/* .drink_image {
  padding-left: 150px;
  padding-top: 25px; 
  padding-right: 60px;
  padding-bottom: 39px;
  margin-left: 100px;
  margin-top: 30px;
  border-right: black solid;
  border-bottom: black solid;
  border-width: 5px;
} */



/* button {
  border: none;
  background-color: #c46767cd;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(211, 190, 190);
  position: relative;
  bottom: 250px;
  left: 50%;
} */